In [2]:
var1='abcdefgh'
var1.partition('c')
# partition is used to divide the string into 3 substrings depending on the partition element

('ab', 'c', 'defgh')

In [3]:
var1='abcdefgh'
var1.partition('a')

('', 'a', 'bcdefgh')

In [6]:
var1='abcdefgh'
var1.partition('c')

In [10]:
var1.upper()

'ABCDEFGH'

In [6]:
var2='abcdefaghabcgd'
var3=var2.maketrans('abcd','1234')
# O/P is called ASKY values these can be findout using ord()
# ord() is used to get Asky value from characters & symbols
# bin()
# char()

In [7]:
var2.translate(var3)

'1234ef1gh123g4'

In [17]:
var2.translate(var3).upper()

'1234EF1GH123G4'

In [18]:
var2.translate(var3).upper().count('2')

2

In [19]:
var2.translate(var3).upper().partition('1')

('', '1', '234EF1GH123G4')

In [20]:
var4='abc def ghi adf lmn'
var5=var4.maketrans('adcf','ADCF')
var4.translate(var5)

'AbC DeF ghi ADF lmn'

In [21]:
y='_adnj124'
y.isidentifier()

True

In [22]:
y='adnj124'
y.isidentifier()

True

In [23]:
y='_adnj@124'
y.isidentifier()

False

In [24]:
y=' adnj124'
y.isidentifier()

False

In [26]:
x="aad"
y='aad'
x+y
# combining 2 or more strings is called concatenation

'aadaad'

In [27]:
x=2
y=5
x+y

7

In [28]:
x=2
y='a'
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
name='person1'
age=32
height=165.4
bio_data='my name is {} my age is {} and my height is {}'
bio_data.format(name,age,height)

'my name is person1 my age is 32 and my height is 165.4'

In [30]:
bio_data='my name is {} my age is {} and my height is {}'
bio_data.format(age,name,height)

'my name is 32 my age is person1 and my height is 165.4'

In [31]:
bio_data='my name is {1} my age is {0} and my height is {2}'
bio_data.format(age,name,height)

'my name is person1 my age is 32 and my height is 165.4'

In [33]:
name='Ch.V.N.Sowjanya'
gender='F'
age=32
height=5.2
weight=58
contact=8790956006
bio_data="My name is {} gender is {} age is {} height is {} weight is {} contact is {}"
bio_data.format(name,gender,age,height,weight,contact)

'My name is Ch.V.N.Sowjanya gender is F age is 32 height is 5.2 weight is 58 contact is 8790956006'

In [37]:
bio_data="My name is {} gender is {} age is {} height is {} weight is {} contact is {}"
bio_data.format(name,gender,age,height,weight,contact)

'My name is Ch.V.N.Sowjanya gender is F age is 32 height is 5.2 weight is 58 contact is 8790956006'

In [38]:
x=2+5
y=3
z=6+9

In [39]:
print(x,y,z)

7 3 15

In [40]:
print(x*y,z)

21 15

In [41]:
print(x*y*z)

315

In [42]:
print(2+4*5-1)

21

In [43]:
print(2+4*5-2)

20

In [46]:
print(2+4*5-23)

-1

In [51]:
name=input("Type your Name: ")
# input () will always return string data

Type your Name: Aarnika

In [52]:
print(name)

Aarnika

In [54]:
age=input("My age is: ")
print(age)

My age is: 32
32

In [55]:
type(age)

str

In [56]:
age=int(input("My age is: "))

My age is: 32

In [57]:
type(age)

int

In [58]:
x='12'
int(x)

12

In [59]:
x='-12'
int(x)

-12

In [62]:
name=input('My Name is: ')
gender=input('My Gender is:')
age=int(input('My Age is:'))
height=float(input('My Height is:'))
weight=int(input('My Weight is:'))
contact=int(input('My Contact is:'))
bio_data="My name is {} gender is {} age is {} height is {} weight is {} contact is {}"
bio_data1=bio_data.format(name,gender,age,height,weight,contact)
# {} is called placeholders

My Name is: Ch.V.N.Sowjanya
My Gender is:Female
My Age is:32
My Height is:5.2
My Weight is:58
My Contact is:8790956006

In [69]:
name=input('My Name is: ')
gender=input('My Gender is:')
age=int(input('My Age is:'))
height=float(input('My Height is:'))
weight=int(input('My Weight is:'))
contact=int(input('My Contact is:'))
bio_data="My name is {} gender is {} age is {} height is {} weight is {} contact is {}"
bio_data1=bio_data.format(name,gender,age,height,weight,contact)

My Name is: K.Aarnika
My Gender is:Female
My Age is:2
My Height is:2.1
My Weight is:11
My Contact is:8790956006

In [70]:
type(bio_data1)

str

In [71]:
type(height)

float

In [72]:
x=1+2j

In [73]:
print(x)

(1+2j)

In [74]:
str(x)

'(1+2j)'

In [77]:
ord('a')
# ord() is used to crete Asky value which are used to convert into binary

97

In [80]:
bin(ord('a'))
# bin() is used to convert asky into binary

'0b1100001'

In [81]:
bin(97)

'0b1100001'

In [86]:
chr(97)

'a'

In [90]:
chr(97)

'a'

In [91]:
chr(99)

'c'