In [1]:
# sets are Collection Data Type
var1={1,2,'f','j',5.5}

In [2]:
var1

{1, 2, 5.5, 'f', 'j'}

In [3]:
type(var1)

set

In [4]:
len(var1)

5

In [5]:
var2=set((1,2,5,5.5,'a'))

In [6]:
var2

{1, 2, 5, 5.5, 'a'}

In [7]:
type(var2)

set

In [8]:
var2[0]
# sets do not have index values
# sets are unorder

TypeError: 'set' object is not subscriptable

In [10]:
var2[:]
# we can't apply index or slicing

TypeError: 'set' object is not subscriptable

In [11]:
var3={1,1,1,1,1,1,1}

In [12]:
var3

{1}

In [13]:
var4={1,1,1,1,2,3,2,2,3,4,6,6,6,4}

In [14]:
var4

{1, 2, 3, 4, 6}

In [15]:
var1

{1, 2, 5.5, 'f', 'j'}

In [17]:
var1[0]=100
# we can not replace in sets

TypeError: 'set' object does not support item assignment

In [18]:
# add(): it is a set method by using which we can add a single new element inside a set.
var1.add('abcdef')

In [19]:
var1

{1, 2, 5.5, 'abcdef', 'f', 'j'}

In [20]:
var1.add(100)

In [21]:
var1

{1, 100, 2, 5.5, 'abcdef', 'f', 'j'}

In [22]:
# update(): It is a set method where we can add multiple elements at a time
# we use only sequencial data type
var1.update('abcd')

In [23]:
var1

{1, 100, 2, 5.5, 'a', 'abcdef', 'b', 'c', 'd', 'f', 'j'}

In [24]:
var1.update([100,200,300])

In [25]:
var1

{1, 100, 2, 200, 300, 5.5, 'a', 'abcdef', 'b', 'c', 'd', 'f', 'j'}

In [26]:
# remove(): it is a set method where we can remove single element at a time
var1.remove('abcdef')

In [27]:
var1

{1, 100, 2, 200, 300, 5.5, 'a', 'b', 'c', 'd', 'f', 'j'}

In [28]:
# discard(): it is also used to remove single element 
var1.discard(400)

In [29]:
var1

{1, 100, 2, 200, 300, 5.5, 'a', 'b', 'c', 'd', 'f', 'j'}

In [30]:
var1.remove('1000')

KeyError: '1000'

In [31]:
var1.remove(10000)

KeyError: 10000

In [32]:
var1.discard('1000')

In [33]:
var1

{1, 100, 2, 200, 300, 5.5, 'a', 'b', 'c', 'd', 'f', 'j'}

In [34]:
# remove() gives the key error if the element is not present
# whereas
# discard() will not give any error

In [37]:
# clear(): it will remove all the elements in the set
var1.clear()

In [38]:
var1

set()

In [39]:
# empty list is []
# empty tuple is ()
# empty set is set()
# empty dictionary is {}

In [42]:
set1={1,2,3}
set2={4,5,6}
set3=set1.union(set2)
# union() returns a new set

In [43]:
set3

{1, 2, 3, 4, 5, 6}

In [44]:
# intersection() : common element in both the sets
set1={1,2,3,7}
set2={4,5,6,7}

In [45]:
set1.intersection(set2) # a new set with common values

{7}

In [46]:
set1.intersection_update(set2)

In [47]:
set1

{7}

In [48]:
set2

{4, 5, 6, 7}

In [49]:
set2.intersection_update(set1)

In [50]:
set1

{7}

In [51]:
set2

{7}

In [52]:
# difference(): it gives the set by removing the common element
set1={1,2,3,7}
set2={4,5,6,7}
set5=set1.difference(set2)

{1, 2, 3}

In [53]:
set4=set2.difference(set1) # a new set

{4, 5, 6}

In [54]:
set2.difference_update(set1)

In [55]:
set2

{4, 5, 6}

In [56]:
# dictionary(): dictionary is a collection data type. Inside a dictionary elements will be in pairs
# syntax  {key:value,key:value,key:value,......}  (in key use int or string)    
# (in value use anything int or float or string or list or tuple or sets)
# dictionary are ordered
# inside the dict key acts as an index value so they are ordered
# inside dict keys should be unique and values can be duplicated
# dict are also mutuable
var10={'Name':'Person1','Age':32,"Height":5.2}

In [57]:
type(var10)

dict

In [59]:
var10['Name']

'Person1'

In [60]:
var11={0:'Person1',1:32,2:5.2}

In [61]:
var11

{0: 'Person1', 1: 32, 2: 5.2}

In [62]:
var11[2]

5.2

In [63]:
var11[1]

32

In [66]:
var10={0:'Person1',0:32,2:5.2}

In [67]:
var10

{0: 32, 2: 5.2}

In [70]:
var10={1:'Person1',1:32,2:5.2}

In [71]:
var10

{1: 32, 2: 5.2}

In [72]:
var10

{1: 32, 2: 5.2}

In [73]:
var10={'Name':'Person1','Age':32,"Height":5.2}

In [74]:
var10['Name']='Person2'

In [75]:
var10

{'Name': 'Person2', 'Age': 32, 'Height': 5.2}

In [78]:
del var10['Age']

In [79]:
var10

{'Name': 'Person2', 'Height': 5.2}

In [80]:
var10['wih']

KeyError: 'wih'

In [81]:
var10['wih']=58

In [82]:
var10

{'Name': 'Person2', 'Height': 5.2, 'wih': 58}

In [83]:
dict1={'name':'sowjanya','age':32,'height':5.2}

In [84]:
dict1

{'name': 'sowjanya', 'age': 32, 'height': 5.2}

In [85]:
dict1['weight']=58

In [86]:
dict1

{'name': 'sowjanya', 'age': 32, 'height': 5.2, 'weight': 58}

In [90]:
dict1['age']=30

In [91]:
dict1

{'name': 'sowjanya', 'age': 30, 'height': 5.2, 'weight': 58}

In [92]:
del dict1['weight']

In [93]:
dict1

{'name': 'sowjanya', 'age': 30, 'height': 5.2}

In [95]:
dict1['name']

'sowjanya'

In [96]:
# Methods in dict
# update(): it is a dictionary method by using which we can replace or add multiple elements inside the dictionary
dict1.update({'name':'Ch.V.N.Sowjanya','age':32,'weight':58})

In [97]:
dict1

{'name': 'Ch.V.N.Sowjanya', 'age': 32, 'height': 5.2, 'weight': 58}

In [98]:
# pop(): it is used to remove the keys
dict1.pop('weight')

58

In [99]:
dict1

{'name': 'Ch.V.N.Sowjanya', 'age': 32, 'height': 5.2}

In [100]:
# popitem(): it wil remove the last element

In [103]:
dict1['weight']=58

In [104]:
dict1

{'name': 'Ch.V.N.Sowjanya', 'age': 32, 'height': 5.2, 'weight': 58}

In [105]:
dict1.popitem()

('weight', 58)

In [106]:
dict1

{'name': 'Ch.V.N.Sowjanya', 'age': 32, 'height': 5.2}

In [107]:
# keys(): it gives all the keys in the dictionary
# values(): it gives all the values in ths dictionary
# items(): it gives both key and value in the dictionary
dict1.keys()

dict_keys(['name', 'age', 'height'])

In [108]:
dict1.values()

dict_values(['Ch.V.N.Sowjanya', 32, 5.2])

In [109]:
dict1.items()

dict_items([('name', 'Ch.V.N.Sowjanya'), ('age', 32), ('height', 5.2)])

In [110]:
# copy()
dict2=dict1.copy()

In [111]:
dict2

{'name': 'Ch.V.N.Sowjanya', 'age': 32, 'height': 5.2}

In [112]:
dict3={}

In [113]:
type(dict3)

dict

In [114]:
dict1.clear()

In [115]:
dict1

{}

In [116]:
dict2

{'name': 'Ch.V.N.Sowjanya', 'age': 32, 'height': 5.2}

In [117]:
dict3={1:{2:100}}

In [118]:
dict3[1]

{2: 100}

In [119]:
dict3[1][2]

100

In [121]:
dict3[1][2]

100

In [122]:
# Collection Data Types
# 1. list()   []
# 2. tuple()  ()
# 3. sets()   {}
# 4. dict()   {key:value}
# 5. join()

In [123]:
# join() : it joins all the strings into one string
l={'a','b','c','d'} # sets are unordered. sets are mentioned with {}
''.join(l)

'dbca'

In [126]:
l=("a","b","c","d")

In [127]:
"".join(l)

'abcd'

In [128]:
l=["a","b","c","d"]
"".join(l)

'abcd'

In [129]:
"@".join(l)

'a@b@c@d'

In [130]:
l=['abcd']
type(l)

list

In [134]:
l=('abcd','bgd')
type(l)

tuple

In [133]:
l={'12s'}
type(l)

set

In [136]:
l={0:1,1:3}
type(l)

dict

In [137]:
l=['abcd',1,2,4]
type(l)

list

In [143]:
l=(1,2,3)
type(l)
len(l)

3

In [156]:
l=['1,2,3,5']

In [157]:
type(l)

list

In [158]:
len(l)

1