In [1]:
# for loop
# range() : sequential data type
for z in [1,2,3,4,5]:
    print("Hi",z)

Hi 1
Hi 2
Hi 3
Hi 4
Hi 5

In [2]:
# list
for z in [1,2,3,4,5]:
    print(z,"Hi")

1 Hi
2 Hi
3 Hi
4 Hi
5 Hi

In [3]:
# tuple
for z in (1,2,3,4,5,"A","c",1.2):
    print(z,"Hi")

1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
A Hi
c Hi
1.2 Hi

In [4]:
# sets
for z in {1,2,3,4,5,"A","c",1.2}:
    print(z,"Hi")

c Hi
1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
1.2 Hi
A Hi

In [5]:
# string
a="12345"
for z in a:
    print(z,"Hello")

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello

In [6]:
# range
for z in range(0,10,2):
    print(z,"Hi")

0 Hi
2 Hi
4 Hi
6 Hi
8 Hi

In [7]:
for z in range(0,10):
    print(z,"Hi")

0 Hi
1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
6 Hi
7 Hi
8 Hi
9 Hi

In [8]:
for z in range(1,11):
    print(z,"Hi")

1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
6 Hi
7 Hi
8 Hi
9 Hi
10 Hi

In [9]:
for z in range(0,10):
    print(z)

0
1
2
3
4
5
6
7
8
9

In [10]:
for z in range(1,11):
    print(z)

1
2
3
4
5
6
7
8
9
10

In [11]:
"a" not in "abcdef"

False

In [12]:
"a" in "abcdef"

True

In [13]:
for z in range(1,6):
    if z==4:
        break
    print(z)

1
2
3

In [14]:
for z in range(1,6):
    if z==4:
        continue
    print(z)

1
2
3
5

In [15]:
x="abcdef"
for a in x:
    print(x)

abcdef
abcdef
abcdef
abcdef
abcdef
abcdef

In [16]:
x="abcdef"
for a in x:
    print(a)

a
b
c
d
e
f

In [17]:
x="abcdef"
for a in range(len(x)):
    print(x[a])

a
b
c
d
e
f

In [19]:
x="abcdef"
for a in range(len(x)):
    if a==3:
        continue
    print(a,x[a])

0 a
1 b
2 c
4 e
5 f

In [20]:
x="abcdef"
for a in range(len(x)):
    if a==3:
        break
    print(a,x[a])

0 a
1 b
2 c

In [22]:
for a in range(1,11):
    print(a,"Hi")

1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
6 Hi
7 Hi
8 Hi
9 Hi
10 Hi

In [23]:
# without using the len() try to find the length of data
x="abdf"
count=0
for y in x:
    count=count+1
print(count)

4

In [24]:
x="abdf"
count=0
for y in x:
    count=count+1
    print(count)

1
2
3
4

In [25]:
x=input()
count=0
for y in x:
    count=count+1
print(count)

Sowjanyakartheek
16

In [26]:
x="abdf"
count=0
for y in x:
    count=count+1
    print(count,x)

1 abdf
2 abdf
3 abdf
4 abdf

In [29]:
x="abdf"
count=0
for y in x:
    count=count+1
    print(count)

1
2
3
4

In [32]:
# Write a program in which you calculate the sum of all the values
x=[1,2,3,4,5,6,7,8]
count=0
for y in x:
    count=count+y
print(count)

36

In [33]:
x="12345678"
count=0
for y in x:
    count=count+y
print(count)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
x="12345678"
count=0
for y in x:
    count=count+int(y)
print(count)

36

In [41]:
x="123456789"
count=1
for y in x:
    count=count*int(y)
print(count)

362880

In [60]:
x='12345678'
count=0
for y in x:
    count=count+int(y)
    print("{} + {} = {}".format(count,y,count))
print(count)
# need to use inner for loop

1 + 1 = 1
3 + 2 = 3
6 + 3 = 6
10 + 4 = 10
15 + 5 = 15
21 + 6 = 21
28 + 7 = 28
36 + 8 = 36
36

In [61]:
# 1. WRITE A PYTHON PROGRAM TO CONVERT A STRING TO LOWER CASE
# 2. WRITE A PYTHON PROGRAM TO CONVERT ONLY ODD INDEXED CHARACTERS TO LOWER CASE
# Ex: PYTHON
# O/P: PyThOn
# 3. WRITE A PYTHON PROGRAM TO CONVERT ONLY EVEN INDEXED CHARACTERA TO LOWER CASE
# Ex: PYTHON
# O/P: pYtHoN

In [62]:
x='ABCDEF'
x.lower()

'abcdef'

In [69]:
x='ABCDEF'
for y in x:
    if [x]%2==0:
        print(y)
    else:
        print(y.lower())

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [70]:
x='ABCDEF'
for y in x:
    print(y)

A
B
C
D
E
F

In [76]:
x='ABCDEF'
for y in x:
    print(y)

A
B
C
D
E
F

In [88]:
x='ABCDEF'
count=0
for y in x:
    count=count+1
    if count%2!=0:
        a=print(y)
    else:
        a=print(y.lower())

A
b
C
d
E
f

In [148]:
# Create Empty Str and concatation
x='ABCDEF'
count=0
for y in x:
    count=count+1
    a=""
    if count%2!=0:
        b=print(a+y)
    else:
        c=print(a+y.lower())

A
b
C
d
E
f

In [149]:
str='testing'
''.join([y.upper() if x%2==0 else y.lower() for x,y in enumerate(str)])

'TeStInG'

In [153]:
x='ABCDEF'
count=0
for y in x:
    count=count+1
    if count%2!=0:
        b=print(a+y)
    else:
        c=print(a+y.lower())

A
b
C
d
E
f

In [168]:
# 2. WRITE A PYTHON PROGRAM TO CONVERT ONLY ODD INDEXED CHARACTERS TO LOWER CASE
# Ex: PYTHON
# O/P: PyThOn
x='PYTHON'
count=0
newstring=" "
for y in x:
    count=count+1
    if count%2!=0:
        newstring = newstring+y.upper()
        print(newstring)
    else:
        newstring += y.lower()
        print(newstring)

 P
 Py
 PyT
 PyTh
 PyThO
 PyThOn

In [171]:
x=input()
count=0
newstring=" "
for y in x:
    count=count+1
    if count%2!=0:
        newstring = newstring+y.upper()
        print(newstring)
    else:
        newstring += y.lower()
        print(newstring)

PYTHON
 P
 Py
 PyT
 PyTh
 PyThO
 PyThOn